/*
* 'Visualizing Mean' styles
*/
body {
  background-color: #29292B;
}
#chart-mean {
  height: 700px;
  width: 90%;
  margin: 0 auto;
  background-color: #29292B;
}

#chart-mean text {
  fill: #fff;
  stroke: 'none';
  font-size: 30px;
  shape-rendering: crispEdges;
}