body {
  font-family: sans-serif;
  background-color: #fff;
  margin: 0;
}

.container {
  width: 100%;
}

.main-content {
  max-width: 900px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
}

.panel {
  margin-bottom: 20px;
  border: 1px solid #e2e2e2;
  width: 100%;
}

.panel-heading {
  background: #f7f7f7;
  color: #2c3e50;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 9px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
  position: relative;
}

.panel-body {
  background: #fff;
  margin: 0;
  padding: 20px;
}

#chart {
  height: 400px;
}

/*
* Basic styles for axis and tooltip
*/
.axis path, .axis line {
  fill: none;
  stroke: #c0c0c0;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #777;
  font-size: 12px;
  shape-rendering: crispEdges;
}

.tooltip {
  visibility: hidden;
  background-color: #39393d;
  height: 30px;
}

.tooltip text {
  fill: #fff;
  font-size: 12px;
  shape-rendering: crispEdges;
}


.gist-file {
  font-size: 12px;
}
