/**
 * Custom theme for reveal.js
 *
 * Original based on theme by Hakim El Hattab, http://hakim.se, 
 * I went ahead and different colors.
 *
 * Using this color palette: 
 */
/*********************************************
 * Override vars
 *********************************************/
/*********************************************
 * My Styles
 *********************************************/
.mediumblue {
  color: #1e8fc6; }

.red {
  color: #cc2309; }

svg {
  border: 1px solid #514f73;
  font-size: 0.4em; }

#needsomescale {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #ecf0f5; }

.reveal {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #2d323d; }

::selection {
  color: #fff;
  background: #2d323d;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  border-bottom: 1px dashed #514f73; }

.reveal a:not(.image) {
  color: #514f73;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -ms-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:not(.image):hover {
  color: #8280a8;
  text-shadow: none; }

.reveal .roll span:after {
  color: #fff;
  background: #313046; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: -15px 0px;
  max-height: 100%;
  max-width: 100%; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #514f73; }

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #514f73; }

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #514f73; }

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #514f73; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #8280a8; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #8280a8; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #8280a8; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #8280a8; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #514f73;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #514f73; }
